.banner-container {
  height: 500px;
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url('../Images/banner.png');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner-title {
  color: #fff;
  font-size: 64px;
  font-weight: 800;
  margin-bottom: 24px;
}
.banner-description {
  color: #fff;
  width: 676px;
  text-align: center;
  margin-bottom: 48px;
  font-size: 16px;
  line-height: 26px;
}
.banner-input-section {
  display: flex;
  gap: 24px;
  border-radius: 8px;
  padding: 16px;
  background: rgba(255, 255, 255, 0.3);
}
.banner-input-section select,
input[type='time'],
.banner-button {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  border: 0;
  outline: 0;
  color: rgba(19, 19, 24, 0.5);
  font-size: 16px;
  padding-left: 5px;
}
.banner-input-section button {
  background: #ff5400;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}
.fa-solid {
  padding-right: 10px;
}

@media screen and (max-width: 600px) {
  .banner-container {
    height: 483px;
  }
  .banner-title {
    font-size: 22px;
    font-weight: 800;
  }
  .banner-description {
    max-width: 384px;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 32px;
  }
  .banner-input-section {
    flex-direction: column;
  }
  .banner-input-section select,
  input[type='time'],
  .banner-button {
    width: 255px;
    height: 52px;
  }
}
