.discount-content {
  text-align: center;
}
.discount-container {
  margin-top: 48px;
}
.discount-1 {
  height: 500px;
  position: relative;
  margin-bottom: 24px;
  background-image: url('../Images/Group\ 39.png');
}
.discount-2 {
  height: 500px;
  position: relative;
  margin-bottom: 24px;
  background-image: url('../Images/Group\ 40.png');
}
.discount-3 {
  height: 500px;
  position: relative;
  margin-bottom: 24px;
  background-image: url('../Images/Group\ 39.png');
}

.discount-card-1,
.discount-card-2,
.discount-card-3 {
  width: 579px;
  height: 389px;
  padding-top: 50px;
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
  text-align: center;
}
.discount-card-1 {
  position: absolute;
  top: 56px;
  right: 56px;
}
.discount-card-2 {
  position: absolute;
  top: 56px;
  left: 56px;
}
.discount-card-3 {
  position: absolute;
  top: 56px;
  right: 56px;
}
.card-icon {
  font-size: 16px;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 26px;
}
.discount-card-1 h3,
.discount-card-2 h3,
.discount-card-3 h3 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
}
.discount-card-1 h4,
.discount-card-2 h4,
.discount-card-3 h4 {
  color: #ff5400;
  font-size: 20px;
  font-weight: 800;
  margin-top: 16px;
  margin-bottom: 24px;
}
.discount-card-1 button,
.discount-card-2 button,
.discount-card-3 button {
  padding: 15px 25px;
  border: 0;
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  font-size: 20px;
  font-weight: 800;
}

@media screen and (max-width: 600px) {
  .discount-card-1,
  .discount-card-2,
  .discount-card-3 {
    width: 450px;
    height: 365px;
  }
}
