.destination-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 48px;
}
.destination-paragraph {
  max-width: 643px;
}
.grid-container {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
.grid-container img {
  height: 286px;
  width: 100%;

}
